/**
 *@Padding
 */
.bp-padding {
  padding: 16px;
}

.bp-padding-top {
  padding-top: 16px;
}

.bp-padding-bottom {
  padding-bottom: 16px;
}

.bp-padding-left {
  padding-left: 16px;
}

.bp-padding-right {
  padding-right: 16px;
}

.bp-padding-zero {
  padding: 0;
}

.bp-padding-auto {
  padding: auto;
}

/**
 *@Margin
 */
.bp-margin {
  margin: 8px;
}

.bp-margin-top {
  margin-top: 8px;
}

.bp-margin-bottom {
  margin-bottom: 8px;
}

.bp-margin-left {
  margin-left: 8px;
}

.bp-margin-right {
  margin-right: 8px;
}

.bp-margin-zero {
  margin: 0;
}

.bp-margin-auto {
  margin: auto;
}

/**
 *@Margin x2
 */
.bp-margin-x2 {
  margin: 16px;
}

.bp-margin-x2-top {
  margin-top: 16px;
}

.bp-margin-x2-bottom {
  margin-bottom: 16px;
}

.bp-margin-x2-left {
  margin-left: 16px;
}

.bp-margin-x2-right {
  margin-right: 16px;
}

/**
 *@Width
 */
.bp-width-full {
  width: 100%;
}

.bp-width-quarter {
  width: 75%;
}

.bp-width-half {
  width: 50%;
}

.bp-width-third {
  width: 25%;
}

.bp-width-auto {
  width: auto !important;
}

/**
 *@Height
 */
.bp-height-full {
  height: 100%;
}

.bp-height-quarter {
  height: 75%;
}

.bp-height-half {
  height: 50%;
}

.bp-height-third {
  height: 25%;
}

.bp-height-auto {
  height: auto !important;
}

/**
 *@Float
 */
.bp-float-left {
  float: left;
}

.bp-float-right {
  float: right;
}

/**
 *@Text Align
 */
.bp-text-center {
  text-align: center;
}

.bp-text-left {
  text-align: left;
}

.bp-text-right {
  text-align: right;
}

/**
 *@Font Size
 */
.bp-font-small {
  font-size: small;
}

.bp-font-medium {
  font-size: medium;
}

.bp-font-large {
  font-size: large;
}

/**
 *@Background
 */
.bp-background {
  background-color: white;
}

/**
 *@Shadow
 */
.bp-shadow {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.02), 0 1px 1px 0 rgba(0, 0, 0, 0.08);
}

/**
 *@Clear Fix
 */
.bp-clear-fix {
  @include clear-fix;
}

/**
 *@Divider
 */
.bp-divider {
  height: 2px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}

/**
 *@Show/Hide device
 */
.bp-show-phone {
  @include show-on-phone;
}
.bp-show-tablet {
  @include show-on-tablet;
}
.bp-show-desktop {
  @include show-on-desktop;
}
.bp-show-portrait {
  @include show-on-portrait;
}
.bp-show-landscape {
  @include show-on-landscape;
}
.bp-hide-phone {
  @include hide-on-phone;
}
.bp-hide-tablet {
  @include hide-on-tablet;
}
.bp-hide-desktop {
  @include hide-on-desktop;
}
.bp-hide-portrait {
  @include hide-on-portrait;
}
.bp-hide-landscape {
  @include hide-on-landscape;
}
